body {
/*background-image: url("images/meditate.jpg");*/
background-color: #000;
color: #fff;
background-size: cover;
background-repeat: no-repeat;
}

.logo img{
width:120px;
padding: 8px;
margin-top: 15%;	
}

.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
	
.badge-primary
{
background:none;

}

.ribbon
{
padding :5px;	
min-height:10px;
}

.topcontrol
{
margin-bottom:5px;
text-align: center;
}

.max-height
{

padding-right:2px;
display: inline-block;
}

#techer
{
margin-bottom: 5px;
padding-bottom: 15px;	
object-fit: cover;
}

.lefter
{
padding-top: 10px;
margin-top: 3%;	
}

.modal.show
{
color:#000;	
}



.topicons::after{
content: "|";
/*float: right;*/
color: #fff;
margin-left:7px;
}

/*#mutep
{
background-image: url("images/RM_Layout-25.png");	
background-size: cover;
background-repeat: no-repeat;
z-index:1;
	
}
*/

/*#stopp
{
background-image: url("images/RM_Layout-26.png");	
z-index:1;
background-size: cover;
background-repeat: no-repeat;	
	
}*/
	

.spanimage{
    background-image: url('images/RM_Layout-24.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}			


.bbutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.personicon
{
display:inline-block;

}

.personicon img
{
width:80px;	
}

.controlicon 
{
	display:inline-block;
}

.controlicon  img
{
height:80px;		
}

.controls
{
/*border: 1px solid #fff;*/
border-radius:15px ;

background: rgba(0, 0, 0, 0.1);
	
}

.btn-secondary {
    color: #fff;
    background-color: #9CBBCE;
    border-rodius: 15px;
    border-radius: 12px;
	border-color: #9CBBCE;
	min-width: 120px;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 15px;
    border-top: 0px solid #e9ecef;
    text-align: center;
}

.modal-header {
    
    justify-content:center;
    padding: 15px;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    text-align: center;
}

.bfooter
{
display:block;
text-align: center;
 padding: 15px;	
}

