body {
background-image: url("images/meditate.jpg");
background-color: #cccccc;
color: #fff;
background-size: cover;
background-repeat: no-repeat;
}

.logo img{
width:150px;
padding: 8px;	
}

.footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
	
.badge-primary
{
background:none;

}

.lefter
{
padding: 8px;	
}

.modal.show
{
color:#000;	
}	

